.col-md-3 {
  /* flex: 0 0 25%; NO! */
  /* max-width: 25%; NO! */
  position: relative;
  width: 100%;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  padding-bottom: 15px;
  display: flex;
}
  /* flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex; */
/* } */