.col-md-3 {
  /* flex: 0 0 25%; */
  /* max-width: 25%; */
  /* position: relative;
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;*/
  display: flex;
}
  /* flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex; */
/* } */